body {
  background-color:  #1f1e1f;
  /* background-color:  #27272A; */
  /* overflow: hidden */
}


/* Project.css */

.project-card {
  transition: transform 0.2s; 
}

.project-card:hover {
  transform: scale(1.1); 
}

/* About.css */

.accordion {
  margin-top: 15px;
}

.accordion-item {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

.accordion-header {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #383a3a;
  color: white;
}

.accordion-body {
  padding: 10px;
  background-color: #f8f9fa;
}
