body {
  background-color: #27272A;
  /* overflow: hidden */
}


/* Project.css */

.project-card {
  transition: transform 0.2s; /* Add a smooth transition for the zoom effect */
}

.project-card:hover {
  transform: scale(1.1); /* Apply the zoom effect on hover */
}
